node_modules/
.env
data/*.sqlite*
data/uploads/invoices/*
data/uploads/complaints/*
data/uploads/garage-types/*
!data/uploads/invoices/.gitkeep
!data/uploads/complaints/.gitkeep
!data/uploads/garage-types/.gitkeep
